@model IEnumerable<Fashion_Fuction.Models.UserModel>


@{
    int iRow = 0;
}



<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            iRow++;
            <tr>
                <th scope="row">@iRow</th>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>|
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>|
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>