@*@model IEnumerable<Fashion_Model.Models.UsersModel>*@

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role Name</th>
            <th scope="col">IsActive</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@item.user_FirstName</td>
                <td>@item.user_LastName</td>
                <td>@item.user_UserName</td>
                <td>@item.user_Email</td>
                <td>@item.user_RoleName</td>
                <td>@item.is_Delete</td>
                <td></td>
            </tr>
        }*@
        
    </tbody>
</table>