@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<Fashion_Infrastructure.Entities.ProductsTable>
@{
    int iRow = 0;
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Img</th>
            <th scope="col">Price</th>
            <th scope="col">Sold</th>
            <th scope="col">Rate</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var itemProduct in Model)
        {
            iRow++;
            <tr>
                <th scope="row">@iRow</th>
                <td>@itemProduct.product_Name</td>
                <td width="120px">
                    <img src="@itemProduct.product_Img1" class="img-thumbnail" />
                </td>
                <td>@itemProduct.product_Price</td>
                <td>@itemProduct.product_Sold</td>
                <td>@itemProduct.product_Rate</td>
                <td>
                    <a>Details</a>|
                    <a>Edit</a>|
                    <a>Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>