@model IEnumerable<Fashion_Fuction.Models.ProductModel>
@{
    int iRow = 0;
}
<a href="/products/create">Create</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Img</th>
            <th scope="col">Price</th>
            <th scope="col">Sold</th>
            <th scope="col">Rate</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var itemProduct in Model)
        {
            iRow++;
            <tr>
                <th scope="row">@iRow</th>
                <td>@itemProduct.product_Name</td>
                <td width="120px">
                    <img src="@itemProduct.product_Img1" class="img-thumbnail" />
                </td>
                <td>@itemProduct.product_Price</td>
                <td>@itemProduct.product_Sold</td>
                <td>@itemProduct.product_Rate</td>
                <td>
                    <a asp-action="Details" asp-route-Id="@itemProduct.product_Id">Details</a>|
                    <a asp-action="Edit" asp-route-Id="@itemProduct.product_Id">Edit</a>|
                    <a asp-action="Delete" asp-route-Id="@itemProduct.product_Id">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>