@model IEnumerable<Fashion_Fuction.Models.ContactModel>
@{
    int iRow = 0;
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Subject</th>
            <th scope="col">Checked</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            iRow++;
            <tr>
                <th scope="row">@iRow</th>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Subject</td>
                <td>@item.IsCheck</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>|
                    @if (@item.IsCheck)
                    {
                        <a asp-action = "Checked" asp-route-id = "@item.Id" style = "pointer-events: none; color: gray" > Checked </a>
                    }
                    else
                    {
                        <a asp-action="Checked" asp-route-id="@item.Id" > Checked </a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>