@model IEnumerable<Fashion_Fuction.Models.CategoryModel>
@{
    int iRow = 0;
}
<a asp-action="Create">Create</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            iRow++;
            <tr>
                <th scope="row">@iRow</th>
                <td>@item.category_Name</td>
                <td>
                    <a asp-action="Details" asp-route-Id="@item.category_Id">Details</a>|
                    <a asp-action="Edit" asp-route-Id="@item.category_Id">Edit</a>|
                    <a asp-action="Delete" asp-route-Id="@item.category_Id">Delete</a>|
                    <a asp-action="AssignToRole" asp-route-Id="@item.category_Id">Role</a>
                </td>
            </tr>
        }
    </tbody>
</table>